<ion-view view-title="Recent Bills">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-controller="CongressCtrl">
      <div ng-show="singleBillView == false"ng-repeat="bill in bills | orderBy: '-lastActionAt'" class="card">
        <div ng-click="viewBill(bill)">
          <div class="item item-avatar">
            <img src="img/mcfly.jpg">
            <h2>{{bill.officialTitle}}</h2>
            <p>{{bill.sponsor}}</p>
          </div>
        </div>
        <div class="item item-body">
          <!---<img class="full-image" src="delorean.jpg">-->
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
      </div>

      <div ng-show="singleBillView == true">
        <div>
          <div class="list card">
            
            <div class="button-bar">
              <p class="button">House:
                <span 
                  class="green" ng-show="singleBill.housePassageResult == 'pass'">
                  Passed
                </span>
                <span
                  class="red" 
                  ng-show="singleBill.housePassageResult == 'fail'">
                  Failed
                </span>
                <span
                  class="yellow" 
                  ng-show="singleBill.housePassageResult != 'fail' && singleBill.housePassageResult != 'pass'">
                  Pending
                </span>
              </p>
              <p class="button">Senate:
                <span 
                  class="green" ng-show="singleBill.senatePassageResult == 'pass'">
                  Passed
                </span>
                <span
                  class="red" 
                  ng-show="singleBill.senatePassageResult == 'fail'">
                  Failed
                </span>
                <span
                  class="yellow" 
                  ng-show="singleBill.senatePassageResult != 'fail' && singleBill.senatePassageResult != 'pass'">
                  Pending
                </span>
              </p>
              
            </div>
            
            <div class="item item-body">
              <p>
                {{singleBill.officialTitle}}
              </p>
              <p>{{singleBill.sponsor}}</p>
              <p>
                <a href="#" class="subdued">Nays: {{nays}}</a>
                <a href="#" class="subdued">Yays: {{yays}}</a>
                <a ng-click="openComments(singleBill)" class="subdued hover">Comments ({{comments.length}})</a>
              </p>
            </div>

            <div class="item" ng-show="viewComments == false">
              <h1 ng-show="siggleBill.vetoed" class="red">Vetoed</h1>
              <h3 ng-show="singleBill.enacted" class="green">Enacted</h3>
              <h4 ng-show="singleBill.active" class="green">Active</h4>
              <h4 ng-show="singleBill.awaitingSignature" class="green">Awaiting Signature</h4>
              <h4>Last Action: {{singleBill.lastActionAt | date : format : timezone}}</h4>
              <h4>Introduced: {{singleBill.introducedOn | date : format : timezone}}</h4>
            </div>

            <div ng-show="viewComments==true">
              <div class="list">
                <label class="item item-input">
                  <textarea placeholder="Write you comment here..."></textarea>
                </label>
                <button class="button button-block button-positive">
                  Submit
                </button>
                <div class="list" ng-repeat="comment in comments">
                  <div class="label">
                    <h4 class="item-divider">{{comment.user}}</h4>
                  </div>
                  <div>
                    <p>{{comment.text}}</p>
                  </div>
                  <div class="button-bar">
                    <div class="button">{{comment.dislikes}}</div>
                    <div class="button">{{comment.likes}}</div>
                    <div class="button">{{comment.stars}}</div>
                  </div>
                  <div class="button-bar">
                    <a 
                      ng-click="unlikeComment(comment, comments.indexOf(comment))" 
                      id="unlike_button_{{comment.id}}"
                      class="button">
                      <i class="ion-thumbsdown comment-likes">
                      </i>
                    </a class="button">
                    <a 
                      ng-click="likeComment(comment, comments.indexOf(comment))" 
                      id="like_button_{{comment.id}}"
                      class="button">
                      <i class="ion-thumbsup comment-likes">
                      </i>
                    </a class="button">
                    <a ng-click="giveStar(comment)" id="star_{{comment.id}}" class="button"><i class="ion-android-star comment-likes"></i></a class="button">
                  </div>
                </div>
                
              </div>
            </div>

            <div ng-show="viewComments == false" ng-click="viewLink(singleBill.pdf, pdf)" class="button button-block button-positive">
              Read Full Text 
            </div>

            <div class="button-bar" ng-show="viewComments == false">
              <a class="button" ng-click="downvote()"><i id="downvote" class="ion-thumbsdown vote-button"></i></a>
              <a class="button" ng-click="upvote()"><i id="upvote" class="ion-thumbsup vote-button"></i></a>
            </div>



           

          </div>
        </div>
        <i id="back_button" class="ion-arrow-left-a" ng-click="singleBillView = false"></i>
      </div>

    </div>
  </ion-content>
</ion-view>
