<ion-view view-title="Home">
  <ion-content>
    <div>
      <button ng-hide="currentUser" ng-click="login()" class="button button-block button-positive">Login</button>
    </div>
    <div class="list card" ng-controller="HomeCtrl" ng-show="currentUser">
      <div class="item item-icon">
        <i class="ion-person bigger">{{currentUser.email}}</i>
      </div>

      <div class="button-bar">
        <a class="button red"><i class="ion ion-thumbsdown">121</i></a>
        <a class="button blue"><i class="ion ion-thumbsup">1200</i></a>
        <a class="button gold"><i class="ion ion-star">3</i></a>
      </div>
      

      <div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-email"></i>
          Messages
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          Account Info
        </a>

      </div>
      {{currentUser}}
    </div>
  </ion-content>
</ion-view>
<!---<ion-footer-bar align-title="center" class="bar-assertive">
 <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Sign Up!</h1>
<div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div> 

</ion-footer-bar>
-->
<ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="about.html">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
</ion-tabs>