<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="ion-ios-close-outline bigger"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h2 ng-show="signUp == false" class="title center login-padding">Login</h2>
    <h2 ng-show="signUp == true" class="title center login-padding">Create an Account</h2>
    <form ng-hide="signUp == true" ng-show="!currentUser"ng-submit="doLogin()">
      <div class="list login-padding">
        <label class="item item-input login-space">
          <input type="text" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input login-space">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item login-space">
          <button class="button button-block login-item blue-bg white-text" type="submit">Sign In</button>
        </label>
      </div>
    </form>
      <button class="button center-block margin-top red-bg white-text" ng-show="signUp == false" ng-click="signUp = true">Create Account</button>
    <form ng-show="signUp == true"ng-submit="handleRegBtnClick()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="registrationForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registrationForm.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password Confirmation</span>
          <input type="password" ng-model="registrationForm.password_confirmation">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create Account</button>
        </label>
      </div>
    </form>
        <button class="button button-calm center-block margin-top" ng-show="signUp == true" ng-click="signUp = false">Log In</button>
  </ion-content>
</ion-modal-view>
