/* Empty. Add your own CSS if you like */
#back_button {
  font-size: 50px;
}

.center {
  text-align: center;
}

.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: orange;
}
.red {
  color: red;
}
.sponsor {
  font-size: 12px;
}
.vote-button {
  font-size: 4em;
}
