/* Empty. Add your own CSS if you like */

#back_button {
  font-size: 50px;
}

.blue {
  color: rgb(224,22,43);
}

.red {
  color: rgb(0,82,165);
}

.bar.bar-stable {
  background-color: #0052A5;
}

.bar.bar-stable .title {
  color: #FFFFFF;
}

.bar-stable .button.button-clear {
  color: #FFFFFF;
}

.bar.bar-assertive {
  border-color: #E0162B;
  background-color: #E0162B;
}

.bar.bar-assertive.bar-footer {
  background-image: linear-gradient(180deg, #E0162B, #E0162B 50%, transparent 50%);
}

.card, .list-inset {
  margin: 0 0 20px 0;
  border
}

.pane, .view {
  background-color: #FDFDFD;
}

.footer-title {
  text-align: center;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  border-color: #E0162B;
  background-color: #E0162B;
  background-image: linear-gradient(0deg, #E0162B, #E0162B 50%, transparent 50%);;
}


.bigger {
  font-size: 2em;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.margin-top {
  margin-top: 1em;
}

.gold {
  color: gold;
}

.comment-likes {
  font-size: 2em;
}

.star {
  font-size: 4em;
}
.small {
  font-size: 1em;
}


.italic {
  font-style: italic;
}

.go-down {
  padding-top: 10px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.no_border {
  border: none;
}

.smaller {
  font-size: 1em;
}

.center {
  text-align: center;
}

.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: orange;
}
.red {
  color: red;
}
.sponsor {
  font-size: 12px;
}
.vote-button {
  font-size: 4em;
}



